* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;

  --gray-100: #E1E1E6;
  --gray-300: #A8A8B3;
  --gray-900: #121214;

  --cyan-500: #61DAFD;
  --yellow-500: #EBA417;
}

body {
  // cor de fundo e cor do texto
  background: var(--gray-900);
  color: var(--white);
}

body, input, textarea, select, button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit; // Vai assumir a cor do elemento pai
  text-decoration: none; // Tira o underline
}